* {
  padding: 0; margin: 0; /*обнуление внутренних и внешних отступов*/
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #737373;
  line-height: 1.5; /*отступы междустрочные*/
  font-size: 1rem; /*размер шрифта*/
}
.wrap{
  max-width: 1080px; /*максимальная ширина*/
  min-width: 320px; /*минимальная ширина*/
  margin: 0 auto; /*внутренний отступ сверху и снизу и авто отступ слева и справа*/
  padding: 0 10px; 
  box-sizing: border-box; /*учитывание внутренних отступов и границ элементов*/
}
.header {
  display: flex; /*для простого управления элементами*/
  align-items: center; /*выравнивание по вертикали по центру*/
  justify-content: space-between; /*равномерное распределение пространства слева и справа*/
  padding: 30px 15px; /*внутренний отступ сверху и снизу и справа и слева*/
  box-sizing: border-box; /*для учитывания отступов и границ*/
  max-width: 1330px; /*максимальная ширина*/
  margin: 0 auto; /*выравнивание по центру горизонтально и авто отступы слева и справа*/
}
.menu {
  display: flex;
  list-style: none; /*убираются маркеры*/
}
.menu li{ /*стилизация списковых элементов внутри меню*/
  margin-left: 94px; /*устанавливаются отступ слева между элементами*/
}
.menu li a{ /*блок стилей к ссылкам*/
  color: #252B42; text-decoration: none; /*цвет и подчеркивание*/
}
.menu li a:hover{ /*стиль когда наводишь на курсор, эффект подсветки*/
  color: #865744;
  background: #865744;
}

.form_wrap {
  background: url(images/shapka.PNG) center center no-repeat; /*делаем фон для формы, смещаем в центр, убираем повторение*/
  background-size: cover; /*картинка растягивается на всю ширину блока*/
  padding: 80px 0 145px 0; /*размер картинки*/
}
.form {
  color: #fff; /*цвет текста*/
  text-align: center; /*расположение текста*/
}
.form_title {
  font-weight: 700; font-size: 2rem; line-height: 4rem; margin-bottom: 30px; /*Жирное начертание шрифта, размер, расстояние между строками, нижний отступ*/
}
.form_subtitle{
  font-weight: 500; font-size: 1.5rem; line-height: 2rem; margin-bottom: 60px;
}
.btn {
  color: #fff;
  text-decoration: none; 
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #fff; /*белая линия вокруг*/
  box-sizing: border-box; /*модель "коробки"*/
  border-radius: 30px; /*радиус скругления*/
  padding: 16px 60px; /*внутренние отступы*/
  display: inline-block; /*блочный элемент*/
  background: #865744;
}

/*Страничка войти*/
.enter{
  background: linear-gradient(120deg, #865744 30%, #fff);
  height: 200vh;
  overflow: hidden; /*Если содержимое элемента превышает его размеры, то оно будет скрыто*/
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /*ширина*/
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  text-align: center;
  padding: 15px 0 20px 0;
  border-bottom: 1px solid silver; /*создание линии*/
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6e4738;
}
txt.txt_field input:focus ~ label,
txt.txt_field input:valid ~ label {
  top: -5px;
  color:#6e4738;
}
txt.txt_field input:focus ~ span::before,
txt.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #6e4738;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
  margin: 4px;
}
.signup_link a:hover {
  text-decoration: underline;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}
 
/*секция 2*/
.cards{
  padding: 30px;
}

.card {
  background-color: #191619;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
}
 
.card img {
  width: 100%;
  height: 50%;
}
 
.card h3 {
  color: #fff;
  margin-top: 16px;
  margin-bottom: 8px;
}
 
.card p {
  color: #fff;
}

.btn2 {
  margin: 15px 0;
  color: #fff;
  text-decoration: none; 
  font-size: 1,5rem;
  font-weight: 700;
  border: 1px solid #fff; /*белая линия вокруг*/
  box-sizing: border-box; /*модель "коробки"*/
  border-radius: 30px; /*радиус скругления*/
  padding: 16px 60px; /*внутренние отступы*/
  display: inline-block; /*блочный элемент*/
  background: #865744;
}

/* Регистрация */
.registration {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #865744 30%, #fff);
}
.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(120deg, #865744 30%, #fff);
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #865744;
}
@media (max-width: 584px) {
  .container{
    max-width: 100%;
  }
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
}
.container form .user-details{
  max-height: 300px;
  overflow-y: scroll;
}
.user-details::-webkit-scrollbar {
  width: 0;
}
